
      <%- include('partials/_header.ejs') %>
      <h1>URL Info</h1>
      <p> ShortURL: http://tapp.com/u/<%= shortURL %> </p>
      <a href="/u/<%= shortURL %>">http://tapp.com/u/<%= shortURL %> </a>

      <p><%= longU %></p>
      <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">
        <input id="longURL" type="text" name="longURL" placeholder=<%= longU %> style="width: 300px">
        <input type="submit" value="UPDATE">
      </form>
    </body>
  </html>