<%- include('partials/_header.ejs') %>
      <h1>URLs List</h1>
      <table>
        <% for(let key in urls) { %>
        <tr>
          <td>
             <a href="/u/<%= key %>">http://tapp.com/u/<%= key %> </a>
          </td>
          <td>
            <%= urls[key] %>
          </td>
          <td>
            <form method="GET" action="/urls/<%= key %>">
              <button>Edit</button>
            </form>
          </td>
          <td>
            <form method="POST" action="/urls/<%=key%>/delete">
              <button>delete</button>
            </form>
          </td>
        </tr>
        <% } %>
      </table>
      <div>
         <a href="/urls/new">Creat New Tiny Link</a>
      </div>
    </body>
  </html>


