  <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>TinyApp</title>
    </head>
    <body>
      <%- include('partials/_header.ejs') %>
      <h1>URLs List</h1>
      <!-- <p> <%= urls %> </p> -->
      <ul>
        <% for(let key in urls) { %>
        <li> The shortened URL: <%= key %> for : <%= urls[key] %>
        <form method="GET" action="/urls/<%= key %>"><button>Edit</button></form>
        <form method="POST" action="/urls/<%=key%>/delete"><button>delete</button></form>
        </li>
       <% } %>
      </ul>


      Click <a href="/urls/new">here</a> for URL shortening.
    </body>
  </html>


